fastapi==0.115.11
uvicorn==0.34.0
pydantic==2.10.6
pydantic-settings==2.8.1
sqlalchemy==2.0.38
psycopg2-binary==2.9.10
python-jose==3.4.0
passlib==1.7.4
python-multipart==0.0.20
bcrypt==4.3.0
python-dotenv==1.0.1
httpx==0.28.1

# OpenTelemetry
opentelemetry-api==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-instrumentation-sqlalchemy==0.51b0
opentelemetry-instrumentation-httpx==0.51b0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-instrumentation==0.51b0 